@media screen and (min-width: 512px) {
  .post {
    margin: auto;
    padding: auto;
    width: 500px;
  }
}

@media (max-width: 512px) {
  .post {
    margin: auto;
    padding: auto;
  }
}

.post {
  display: grid;
  background-color: antiquewhite;
  border-radius: 15px;

  grid-template-rows: 300px 200px;
  margin: auto;
  padding: auto;
}

.postImage {
  padding: 40px;
}

.adImage {
  width: 100%;
}

.postDetails {
  flex-direction: column;
  padding: 20px;
}

.detail {
  margin: 12px;
}
